<!DOCTYPE html>
<html>
  <head>
    <title>古亭兒主闖關App</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="static/css/application.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="static/fontawesome/css/all.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('static', filename='js/socket.io.js') }}"></script>
  </head>
  <body>

    <!-- page start -->
    <div class="mypage">
      <div class="mypage-header">
        <div>
          <a id='back' href="#"><i class="fas fa-arrow-left fa-lg"></i></a>
        </div>
        <div id='main-title'>古亭兒主闖關</div>
        <div id='systime'>00:00:00</div>
      </div>

      <div class="mypage-content">
        <!-- home page -->
        <div id="home-page" class='view'>
          <h4 class="text-center">請選擇身分</h4>
          <button id='iamOwner' type="button" class="btn btn-primary btn-lg btn-block">我是關主</button>
          <button id='iamMember' type="button" class="btn btn-primary btn-lg btn-block">我是組員</button>
        </div>

        <!-- member gate select page -->
        <div id='whichgroup-page' class='view'>
          <h4 class="text-center">請輸入隊名</h4>
          <br>
          <form class="form-inline" id='group_name_input_form'>
            <div class="form-group">
              <h4 class="text-center">隊名</h4>
              <input type="text" id="groupName" name='group_name' class="form-control">
              <div class="alert alert-danger" role="alert" style='display: none;'>請輸入隊名</div>
              <br>
              <button type="submit" class="btn btn-primary btn-lg btn-block">確認</button>
            </div>
          </form>    
        </div>

        <!-- member page -->
        <div id='scan-page' class='view'>
          <div id='curGroup' class="text-center alert alert-primary" role="alert"></div>
          <h4 class="text-center">請掃描關主給的QRCODE</h4>
          <button id='startScan' type="button" class="btn btn-primary btn-lg btn-block m-1">開始掃描</button>
          <button id='stopScan' type="button" class="btn btn-primary btn-lg btn-block m-1">停止掃描</button>
          <br>
          <div class='live-qr-container'>
            <div id="scanner" class="qrscanner"></div>
            <div class='qrscan_text_info'>
              <div id='scannedTextMemo' class="alert alert-success" role="alert" ></div>
            </div>
          </div>     
        </div>

        <!-- login page -->
        <div id='login-page' class='view'>
          <h4 class="text-center">請輸入關主密碼</h4>
          <br>
          <form class="form-inline" id='owner_login_form'>
            <div class="form-group">
              <h4 class="text-center">密碼</h4>
              <input type="password" id="ownerPW" name='password' class="form-control">
              <div class="alert alert-danger" role="alert" style='display: none;'>密碼錯誤</div>
              <h4 class="text-center">你是哪關的關主</h4>
              <select class="form-control" name='gate'>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
              <br>
              <button type="submit" class="btn btn-primary btn-lg btn-block">下一步</button>
            </div>
          </form>
        </div>

        <!-- in out page -->
        <div id='inout-page' class='view'>
          <h4 class="text-center">顯示QRCODE</h4>       
          <button id='showInQr' type="button" class="btn btn-primary btn-lg btn-block m-1">IN</button>
          <button id='showOutQr' type="button" class="btn btn-primary btn-lg btn-block m-1">OUT</button>
        </div>

        <!-- QR code page -->
        <div id='qrcode-page' class='view'>
          <h4 class="text-center"></h4>       
          <div id="qrcode" class="show-qr-container"></div>
        </div>
      
        <!-- page-content end -->
      </div>

      <!-- footer -->
      <div class='mypage-footer'>
        <div>v0.9.4</div>
        <div id='debugMsg'></div>
      </div>
    </div>
    <!-- page end -->
   
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.0.3.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/qrcode.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/JsQRScanner/jsqrscanner.nocache.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plotting.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/application.js') }}"></script>
    
  </body>
</html>