<!DOCTYPE html>
<html>
  <head>
    <title>Python Websockets Chat Demo</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="static/css/application.css" rel="stylesheet" media="screen">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('static', filename='js/socket.io.js') }}"></script>
  </head>
  <body>
    <div id="home-page" class="mypage">
      <div class="mypage-header">
        <p class="font-weight-bold">古亭兒主闖關</p>
      </div>
      <div class="mypage-content">
        <h4 class="text-center">請選擇身分</h4>
        <button type="button" class="btn btn-primary btn-lg btn-block">我是關主</button>
        <button type="button" class="btn btn-secondary btn-lg btn-block">我是組員</button>
      </div>
      <div class='mypage-footer'></div>
    </div>
    
    

    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.0.3.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/application.js') }}"></script>
    
  </body>
</html>